<!DOCTYPE html>
<head>
  <style>
  body {background-color: maroon;}
  h3{
  	text-align: center;
    color: white;
  }
  p{
  	text-align: center;
  	font-family: Arial Black, serif;
  	font-size:16px;
    color: white;
  }
  </style>
  <body>
    <title>Welcome to Tahsina's ADI Labs Site</title>
    <h3>Hi, ADI! Tahsina Saosun (ts2931) says hello.</h3>
    <p>Favorite Image: </p>
    <p><img src="https://img.purch.com/rnb/330x227/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzA2OS83MTkvb3JpZ2luYWwvSU5UUk8tVEhFLVRISVJURUVOLURPQ1RPUlMuanBn" width="500" height="300" frameborder="0"></p>
    <p>Fave Color: Purple</p>
  </body>
</head>
